# .env.example

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=your_database_name

# Formspree configuration
FORMSPREE_URL=https://formspree.io/YOUR_FORM_ID
FORMSPREE_EMAIL=your_email@example.com